html, body {
	font-family: 'Titillium Web', sans-serif;
	margin :0;
	overflow-x: hidden;
}

h1 { 
	font-family: 'Bebas Neue', cursive;
	font-weight: normal;
	font-size: 4em;
	margin: 0;
}

h2 {
	font-family: 'Kanit', sans-serif;
	font-weight: normal;
	font-size: 40px;
	color: #597081;
	text-align: center;
	padding: 1em 0;
}

h3 {
	margin: 0 0 3px 0;
}

p {
	font-family: 'Titillium Web', sans-serif;
	margin-top: 0;
}

.navbar {
	position: fixed;
	display: flex;
	background-color: #8DA9C4;
	text-decoration: none;
	color:#fff;
	padding: 20px 0 20px 80px;
	justify-content: space-between;
	z-index: 5;
	width: 100%;
}

.navbar div  {
	display: flex;
	justify-content: center;
	padding: 0 20px;
}

.navbar div a {
	text-decoration: none;
	color:#fff;
}

#banner {
	background-image: url(https://miro.medium.com/max/11150/0*4K1fPIhorKUTFUYJ);
	background-size: cover;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 64px;
}

#banner h1 {
	color: #fff;
	text-align: center;
}

#about .column-left {
	width: 30%;
}

#about .column-right {
	width: 70%;
	padding-right: 120px;
}

.profile-sheet {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: flex-start;
}

.profile-sheet img { 	
	min-width: 30%;
	max-width: 45%;
}

.profile-sheet ul {
	font-size: 16px;
 	padding-top: 1em;
}

@media screen and (max-width: 768px) {
	#about .column-left {
		width : 100%;
	}
	#about .column-right {
		width: 100%;
		margin: 20px;
		padding: 15px;
	}
	.blue-background {
		flex-direction: column;
	}
	.blue-background ul {
		margin-left: 20px;
	}
}

.blue-background {
	background-color: #274156;
	color: #fff;
	margin: 0;
	font-size: 20px;
	padding: 40px 10px;
	display: flex;
	justify-content: space-around;
}

.blue-background ul {
	list-style-type: none;
	padding: 0;
	font-family: 'Titillium Web', sans-serif;
}

.blue-background ul:not(:last-child) {
	margin-bottom: 10px;
}

.web-exp {
	padding-left: 10%
}

.nonweb-exp {
	padding-left: 10%
}

/* CSS Imported Timeline*/

#experience {
	background-color: #eee;
}

.timeline-text {
	padding: 1rem 2rem;
}

.timeline {
  position: relative;
  padding-bottom: 20px;

}
.timeline::before {
  content: "";
  background: #C4CBD0;
  width: 5px;
  height: 95%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-item {
  width: 100%;
  margin-bottom: 50px;
}
.timeline-item:nth-child(even) .timeline-content {
  float: right;
}
.timeline-item:nth-child(even) .timeline-content .date {
  right: auto;
  left: 0;
}
.timeline-item:nth-child(even) .timeline-content::after {
  content: "";
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent #f5f5f5 transparent transparent;
}
.timeline-item::after {
  content: "";
  display: block;
  clear: both;
}

.timeline-content {
  position: relative;
  width: 45%;
  padding: 60px 30px 10px 30px;
  border-radius: 4px;
  background: #f5f5f5;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
}
.timeline-content::after {
  content: "";
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  right: -15px;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #f5f5f5;
}

.timeline-img {
  width: 30px;
  height: 30px;
  background: #274156;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -15px;
}

.timeline-card {
  padding: 0 !important;
}
.timeline-card a {
  margin-left: 20px;
}

.image-web {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("timelineWeb.jpg") center center no-repeat;
  background-size: cover;
}

.image-nonweb {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("patisserie1.jpg") center center no-repeat;
  background-size: cover;
}

.timeline-img-header {
  height: 200px;
  position: relative;
  margin-bottom: 10px;
}
.timeline-img-header h3 {
  color: #ffffff;
  position: absolute;
  bottom: 5px;
  left: 2rem;
}

.date {
  background: $accent;
  display: inline-block;
  background-color: #8DA9C4; 
  color: #FFF;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 768px) {
  .timeline::before {
    left: 50px;
  }
  .timeline .timeline-img {
    left: 50px;
  }
  .timeline .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }
  .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }
  .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }
  h3 {
  	font-size: 20px;
  	font-weight: bold;
  }
}
  /*CSS Imported Timeline code over*/


